In [3]:
import numpy as np
import pandas as pd

## Question 1

In [4]:
np.__version__

'1.21.5'

## Question 2

In [38]:
df=pd.read_csv('data.csv')

In [7]:
df.shape[0]

11914

In [8]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 2

In [13]:
df.groupby('Make').size().sort_values(ascending=False).head()

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
dtype: int64

In [22]:
df['Make'].value_counts().head()

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

## Question 4

In [23]:
a= df[df['Make']=='Audi']

In [26]:
a.Model.nunique()

34

## Question 5

In [28]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

## Question 6

In [39]:
df['Engine Cylinders'].median()

6.0

In [40]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [41]:
df['Engine Cylinders']= df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0])

In [42]:
df['Engine Cylinders'].median()

6.0

## Question 7

In [44]:
lotus = df[df['Make']=='Lotus']

In [45]:
lotus_1 = lotus[["Engine HP", "Engine Cylinders"]]

In [46]:
lotus_1.drop_duplicates(inplace=True)
lotus_1.shape[0]

C:\Users\Hana Izdihar\AppData\Local\Temp\ipykernel_16836\3524078253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lotus_1.drop_duplicates(inplace=True)

9

In [54]:
X = lotus_1.to_numpy()

In [55]:
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [56]:
XTX = np.dot(X.T,X)

In [57]:
XTX_invert = np.linalg.inv(XTX)

In [58]:
y =[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [59]:
w = np.dot(np.dot(XTX_invert, X.T),y)
w

array([  4.59494481, -63.56432501])